<wrapper class="secondary">

  <spacer size="16"></spacer>
  <spacer size="16"></spacer>

  <row>
    <columns large="6">
      <h5 class="footer-header">Odyssey</h5>
      <p><a href="https://theodysseyonline.com">theodysseyonline.com</a></p>
      <p class="footer-copyright">Copyright 2017 Odyssey Media Group</p>
    </columns>
    <columns large="6">
      <h5 class="footer-header">Connect With Us:</h5>
      <button class="facebook expand" href="http://www.facebook.com/Odyssey">Facebook</button>
      <button class="twitter expand" href="http://www.twitter.com/theodyssey">Twitter</button>
      <button class="instagram expand" href="http://www.instagram.com/theodysseyonline">Instagram</button>
      <button class="linkedin expand" href="http://www.linkedin.com/odyssey-online">LinkedIn</button>
      <button class="snapchat expand" href="https://www.snapchat.com/add/odysseyonline">Snapchat</button>
    </columns>
  </row>
</wrapper>
