<wrapper class="secondary">

  <spacer size="16"></spacer>
  <spacer size="16"></spacer>

  <row>
    <columns large="5">
      <p><a href="https://theodysseyonline.com">theodysseyonline.com</a></p>
      <p class="footer-copyright">Copyright 2017 Odyssey Media Group</p>
    </columns>
    <columns large="7">
      <row>
        <columns large="2" small="2">
          <button class="facebook expand" href="http://www.facebook.com/Odyssey">
            <img src="https://s3.us-east-2.amazonaws.com/odyssey-quill-email-templates/images/facebook.png" alt="facebook" height="20px" width="20px">
          </button>
        </columns>
        <columns large="2" small="2">
          <button class="twitter expand" href="http://www.twitter.com/theodyssey">
            <img src="https://s3.us-east-2.amazonaws.com/odyssey-quill-email-templates/images/twitter.png" alt="twitter" height="20px" width="20px">
          </button>
        </columns>
        <columns large="2" small="2">
          <button class="instagram expand" href="http://www.instagram.com/theodysseyonline">
            <img src="https://s3.us-east-2.amazonaws.com/odyssey-quill-email-templates/images/instagram.png" alt="instagram" height="20px" width="20px">
          </button>
        </columns>
        <columns large="2" small="2">
          <button class="linkedin expand" href="http://www.linkedin.com/odyssey-online">
            <img src="https://s3.us-east-2.amazonaws.com/odyssey-quill-email-templates/images/linkedin.png" alt="linkedin" height="20px" width="20px">
          </button>
        </columns>
        <columns large="2" small="2">
          <button class="snapchat expand" href="https://www.snapchat.com/add/odysseyonline">
            <img src="https://s3.us-east-2.amazonaws.com/odyssey-quill-email-templates/images/snap.png" alt="snapchat" height="20px" width="20px">
          </button>
        </columns>
      </row>

    </columns>
  </row>
</wrapper>
